<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travelform</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
  <script src="travelform.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

<link rel="stylesheet" href="main.css">
<style>

</style>
</head>

<body style="background-color:#3185E5;" >
<!-- Signup modal -->
<div class="modal fade " id="Signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content" >
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Signup</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="container-fluid ">
        <form action="" method="post">
          <div class="row" >
            <fieldset>
      <legend>Personal Details</legend>
  <div class="row">
    <div class="col-md-1 col-sm-1">
      
    </div>  
    <div class="col-md-3 col-sm-3">
      <label class="b">Name</label>&nbsp;&nbsp;<input type="text" id="name" placeholder="Sanah " size="20" onblur="signupvalidate(this)" required>
      <p id="namealert" hidden></p>
      <br><br>
      <label class="b">Email</label>&nbsp;&nbsp;<input type="email" id="email" placeholder="sanahbakkshi@gmail.com" size="20" onblur="signupvalidate(this)" required>
      <p id="emailalert" hidden></p>
      <br><br>
      <label class="b" style="">Phone no</label>&nbsp;&nbsp;<input type="tel" id="phoneno" placeholder="+91-8191901919" size="20" minlength="10" onblur="signupvalidate(this)" required>
      <p id="phonealert" hidden></p>
      <!-- <p style="font-size: 13px;position: absolute;">Eg:+91-&nbsp;8191901919</p> -->
      <br><br>
      <label class="b">DOB</label>&nbsp;&nbsp;<input type="date" name="dob" id="dob" size="20" min="1970-01-01" max="" required>
      <br><br>
      <label class="b">Select State</label>
       <select id="states" name="states" required onblur="signupvalidate(this)">
              <option value="0" selected>Select</option>
      <option value=”Andhra Pradesh”>Andhra Pradesh</option>
    <option value=”Arunachal Pradesh”>Arunachal Pradesh</option>
    <option value=”Assam”>Assam</option>
    <option value=”Bihar”>Bihar</option>
    <option value=”Chandigarh”>Chandigarh</option>
    <option value=”Chhattisgarh”>Chhattisgarh</option>
    <option value=”Dadar and Nagar Haveli”>Dadar and Nagar Haveli</option>
    <option value=”Daman and Diu”>Daman and Diu</option>
    <option value=”Goa”>Goa</option>
    <option value=”Gujarat”>Gujarat</option>
    <option value=”Haryana”>Haryana</option>
    <option value="Himachal Pradesh" disabled>Himachal Pradesh</option>
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
    <option value=”Jharkhand” >Jharkhand</option>
</select>
<p id="statealert" hidden></p><br><br>
    
<label class="b">Password</label>&nbsp;&nbsp;<input type="password" id="password" name="password" minlength="8" required>
    </div>
    <div class="col-md-2 col-sm-2">
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <label class="b">Address</label>
        </div>  
        <div class="col-md-8 col-sm-8">
          <textarea name="address" cols="16" rows="4" onblur="signupvalidate(this)" onkeyup="textCounter(this,'counter',250);" required id="address"></textarea>  <br>
           <input disabled  maxlength="3" size="3" value="250" id="counter">characters&nbsp;left<br>
           <span id="addressalert" hidden></span>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <label class="b">Gender</label>
        </div>  
        <div class="col-md-6 col-sm-6">
          <input type="radio" name="gender" value="male" required><label>Male</label><br>
          <input type="radio" name="gender" value="female"><label >Female</label><br>
          <input type="radio" name="gender" value="other" >
          <label>Other</label>

        </div>
      </div><br>

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <br>
          <label class="b">ID Proof</label>
        </div>  
        <div class="col-md-6 col-sm-6">
           <br>
           <input type = "file" name = "fileupload" required accept = ".pdf,image/*" />        
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          
          <div style="margin-top:14px;">
          <label class="b">Confirm Password</label>
          <input type="password" id="confirm_password" name="confirm_password" minlength="8" required onblur="signupvalidate(this)">
          <p id="passwordalert" hidden></p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      
    </div>  
    </div>
   </fieldset>
   <br>
   <fieldset>
  <legend>Other Details</legend>
<div class="row">
    <div class="col-md-1 col-sm-1">

    </div>
    <div class="col-md-3 col-sm-3">
      <label class="b">Personal Interests</label><input list="interests" required="">
  <datalist id="interests" onblur="signupvalidate(this)">
    <option value="Singing">
    <option value="Dancing">
    <option value="Travelling">
    <option value="Trekking">
  </datalist>
  <p id="interestalert" hidden></p>
    </div>
    <div class="col-md-3 col-sm-3">

    </div>
    <div class="col-md-4 col-sm-4">
      <label class="b">Receive emails about different tourist packages?</label>
  <input type="radio" name="recv_emails" value="Yes" required><label>Yes</label>&nbsp;&nbsp;
  <input type="radio" name="recv_emails" value="No"><label >No</label><br>
    </div>
    <div class="col-md-2 col-sm-2">

    </div>
   </div>
</fieldset>
   </div> 
  <div class="row">
    <div class="col-md-2 col-sm-2">

    </div>
    <div class="col-md-6 col-sm-6">
      <center><br>
      <input type="submit" value="Submit"> &nbsp;&nbsp;<input type="reset" value="Reset"><br><br>
    </center>
    </div>
   </div>
        </form>
     </div>
    </div>
  </div>
</div>
</div>

<!-- Login modal -->
<div class="modal fade " id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h3 class="modal-title" id="exampleModalLabel">Login</h3> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
       <div class="row">
        <div class="col-md-2 col-sm-2">
       
        </div>
        <div class="col-md-7 col-sm-7 ">
            <form action="">
            <center><h2>Login</h2><br>
      <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;
    <input type="email" placeholder=" Email" class="textbox" required><br><br>
    <i class="fa fa-lock" aria-hidden="true"></i> &nbsp;&nbsp;
    <input type="password" placeholder=" Password"class="textbox" required><br><br>
        
    <input type="submit" value="Login"><br><br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label><br>
      <span class="psw"><a href="#"><u>Forgot password?</u></a></span><br><br>
  </center>
</form>
  </div>
  </div>
</div>
    </div>
  </div>
</div>
</div>

<div class="blurcontainer" style="height:450px;" ng-app="travelform" ng-init="heading=''">

  <img src="images/colva_beach.jpg" alt="Nature" style="width:100%;height:1000px;filter:blur(5px);">
  <center><h1 style="font-family:serif;position: absolute;bottom:380px;left:320px;" ><b>{{heading}}</b></h1></center>
  <div class="text-block" ng-controller="travelformvalidation" style="border-radius: 15px;top:100px;">
    <br>
    <form action=""  name="holidayplanform" id="holidayplanform">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-3">
              <input type="text" ng-model="name" name="name" id="hname"  placeholder="Enter name" required>
               <span style = "color:red;position: absolute;" ng-show = "holidayplanform.name.$valid">
                Name&nbsp;is&nbsp;invalid.
                     </span>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-3">
              <input type="text" ng-model="email"  name="email" id="h_email"  placeholder="Enter email" required>

              <span style = "color:red;position: absolute;" ng-show = "holidayplanform.email.$valid">
                    Email&nbsp;is&nbsp;invalid.   
                     </span>
         
              
        </div>
        
    </div><br><br>
       <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-3">
              <input type="text" minlength=10 maxlength=10 ng-model="phoneno" name="phone number" id="h_phone"  placeholder="Phone number" required>
              <span style = "color:red;position: absolute;" ng-show = "holidayplanform.phoneno.$valid">
                        Phone number&nbsp;is&nbsp;invalid.
                     </span>
              
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-3">
              <input list="destinations" ng-model="destination" name="destination" id="h_dest" placeholder="Type of Destination" required>
  <datalist id="destinations">
    <option value="Hill Stations">
    <option value="Adventure and Hiking">
    <option value="WildLife">
  </datalist>
  
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-3">
              <input type="number" ng-model="daycount" name="daycount" id="daycount"  placeholder="Number of days" required>
              
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
        <div class="col-md-3">
            <select ng-model="pricerange" ng-options="x for x in pricevalues" style="width:202px;height:30px;">
            </select>
            
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-2 col-sm-2">
      <input type="submit" value="Submit" id="holidayplanbutton">
        </div>
        <div class="col-md-2 col-sm-2">
          <button ng-click = "reset()">Reset</button>
        </div>
        
        
    </div>
    
     
  </form>
  <div id="d" style="margin-top: 20px;"></div>
  </div>
  <div class="customized-packs" ng-controller="customizedpackages">
    <center><h1 style="font-family:serif;position: absolute;bottom:-100px;left:450px;"><b>Our Customized Packages</b></h1></center>
  <button ng-dblclick="viewpacks()" style="position:absolute;bottom:-140px;left:600px;">Double Click to View!</button>
    <div ng-show="showMe">
          <div class="card" style="width: 18rem;position:absolute;bottom:-500px;left:130px;box-shadow: 5px 10px;">
        <img class="card-img-top" src="{{customizedpackages[0].src}}" alt="Card image cap" height="174" width="285">
        <div class="card-body">
          <center><h5 class="card-title">{{customizedpackages[0].name|uppercase}}</h5>
          <p class="card-text">Price-{{customizedpackages[0].price|currency:"₹"}}<br>Night count-{{customizedpackages[0].nightcount}}
          </p></center>
          <center><a href="#" class="btn btn-primary">Know More</a></center>
        </div>
      </div>

       <div class="card" style="width: 18rem;position:absolute;bottom:-500px;left:520px;box-shadow: 5px 10px;">
        <img class="card-img-top" src="{{customizedpackages[1].src}}" alt="Card image cap" height="174" width="285">
        <div class="card-body">
          <center><h5 class="card-title">{{customizedpackages[1].name|uppercase}}</h5>
          <p class="card-text">Price-{{customizedpackages[1].price|currency:"₹"}}<br>Night count-{{customizedpackages[1].nightcount}}
          </p></center>
          <center><a href="#" class="btn btn-primary">Know More</a></center>
        </div>
      </div>
       <div class="card" style="width: 18rem;position:absolute;bottom:-500px;left:920px;box-shadow: 5px 10px;">
        <img class="card-img-top" src="{{customizedpackages[2].src}}" alt="Card image cap" height="174" width="285">
        <div class="card-body">
          <center><h5 class="card-title">{{customizedpackages[2].name|uppercase}}</h5>
          <p class="card-text">Price-{{customizedpackages[2].price|currency:"₹"}}<br>Night count-{{customizedpackages[2].nightcount}}
          </p></center>
          <center><a href="#" class="btn btn-primary">Know More</a></center>
        </div>
      </div>
    </div>
</div>
</div>

<script src="main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    
   <script src = "https://maps.googleapis.com/maps/api/js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>  